In [1]:
import pandas as pd
import re

In [2]:
df = pd.read_csv('MLB Player Batting Stats 2024.csv')

In [3]:
df

,PLAYERPLAYER,TEAMTEAM,GG,ABAB,RR,HH,2B2B,3B3B,HRHR,RBIRBI,BBBB,SOSO,SBSB,CSCS,AVGAVG,OBPOBP,SLGSLG,caret-upcaret-downOPScaret-upcaret-downOPS
0,1AaronA JudgeJudgeCF1‌‌‌,NYY,158,559,122,180,36,1,58,144,133,171,10,0,0.322,0.458,0.701,1.159
1,2ShoheiS OhtaniOhtaniDH2‌‌‌,LAD,159,636,134,197,38,7,54,130,81,162,59,4,0.310,0.390,0.646,1.036
2,3JuanJ SotoSotoRF3‌‌‌,NYY,157,576,128,166,31,4,41,109,129,119,7,4,0.288,0.419,0.569,0.988
3,4BobbyB Witt Jr.WittSS4‌‌‌,KC,161,636,125,211,45,11,32,109,57,106,31,12,0.332,0.389,0.588,0.977
4,5YordanY AlvarezAlvarezDH5‌‌‌,HOU,147,552,88,170,34,2,35,86,69,95,6,0,0.308,0.392,0.567,0.959
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
124,125AndrésA GimenezGiménez2B125‌‌‌,CLE,152,583,64,147,22,1,9,63,26,97,30,5,0.252,0.298,0.340,0.638
125,126ChristopherC MorelMorel2B126‌‌‌,TB,152,535,56,105,11,3,21,60,61,159,8,7,0.196,0.288,0.346,0.634
126,127ZackZ GelofGelof2B127‌‌‌,OAK,138,497,60,105,20,2,17,49,38,188,25,3,0.211,0.270,0.362,0.632
127,128OrlandoO ArciaArciaSS128‌‌‌,ATL,157,551,50,120,24,0,17,46,41,128,2,0,0.218,0.271,0.354,0.625
128,129MaikelM GarciaGarcia3B129‌‌‌,KC,157,575,84,133,27,5,7,58,42,103,37,2,0.231,0.281,0.332,0.613

In [4]:
# renaming the columns
df = df.rename(columns = {'PLAYERPLAYER' : 'Player_Name',
                          'TEAMTEAM' : 'Team',
                          'GG' : 'G',
                          'ABAB' : 'AB',
                          'RR' : 'R',
                          'HH' : 'H',
                          '2B2B' : '2B',
                          '3B3B' : '3B',
                          'HRHR' : 'HR',
                          'RBIRBI' : 'RBI',
                          'BBBB' : 'BB',
                          'SOSO' : 'SO',
                          'SBSB' : 'SB',
                          'CSCS' : 'CS',
                          'AVGAVG' : 'AVG',
                          'OBPOBP' : 'OBP',
                          'SLGSLG' : 'SLG',
                          'caret-upcaret-downOPScaret-upcaret-downOPS' : 'OPS'})

In [5]:
# checking Null values
df.isnull().any()

Player_Name    False
Team           False
G              False
AB             False
R              False
H              False
2B             False
3B             False
HR             False
RBI            False
BB             False
SO             False
SB             False
CS             False
AVG            False
OBP            False
SLG            False
OPS            False
dtype: bool

In [6]:
# checking for duplicates
df.duplicated()

0      False
1      False
2      False
3      False
4      False
       ...
124    False
125    False
126    False
127    False
128    False
Length: 129, dtype: bool

In [7]:
df.head()

,Player_Name,Team,G,AB,R,H,2B,3B,HR,RBI,BB,SO,SB,CS,AVG,OBP,SLG,OPS
0,1AaronA JudgeJudgeCF1‌‌‌,NYY,158,559,122,180,36,1,58,144,133,171,10,0,0.322,0.458,0.701,1.159
1,2ShoheiS OhtaniOhtaniDH2‌‌‌,LAD,159,636,134,197,38,7,54,130,81,162,59,4,0.310,0.390,0.646,1.036
2,3JuanJ SotoSotoRF3‌‌‌,NYY,157,576,128,166,31,4,41,109,129,119,7,4,0.288,0.419,0.569,0.988
3,4BobbyB Witt Jr.WittSS4‌‌‌,KC,161,636,125,211,45,11,32,109,57,106,31,12,0.332,0.389,0.588,0.977
4,5YordanY AlvarezAlvarezDH5‌‌‌,HOU,147,552,88,170,34,2,35,86,69,95,6,0,0.308,0.392,0.567,0.959

In [8]:
# regular expression to extract the front numbers from each string
df['Rank'] = df['Player_Name'].str.extract(r"(\d+)")
df['Player_front_number'] = df['Player_Name'].str.replace(r"^\d+", "", regex=True)

In [9]:
# extracting the names (letters and spaces) and numbers (digits at the end)
df['Player_back_number'] = df['Player_front_number'].str.extract(r"([A-Za-z\s]+)")
df['Rank2'] = df['Player_front_number'].str.extract(r"(\d+)$")

In [10]:
# extracting the last two uppercase letters
def extract_name(name):
    if name[-2:].isupper():  # checking if the last two letters are uppercase
        return name[:-2]  # returning everything except the last two characters
    return name  # returning the original name if the last two characters are not uppercase

# applying the function to the 'Player_back_number' column and creating a new column 'Player_position'
df['Player_position'] = df['Player_back_number'].apply(extract_name)

print(df)

                            Player_Name Team    G   AB    R    H  2B  3B  HR  \
0              1AaronA JudgeJudgeCF1‌‌‌  NYY  158  559  122  180  36   1  58
1           2ShoheiS OhtaniOhtaniDH2‌‌‌  LAD  159  636  134  197  38   7  54
2                 3JuanJ SotoSotoRF3‌‌‌  NYY  157  576  128  166  31   4  41
3            4BobbyB Witt Jr.WittSS4‌‌‌   KC  161  636  125  211  45  11  32
4         5YordanY AlvarezAlvarezDH5‌‌‌  HOU  147  552   88  170  34   2  35
..                                  ...  ...  ...  ...  ...  ...  ..  ..  ..
124   125AndrésA GimenezGiménez2B125‌‌‌  CLE  152  583   64  147  22   1   9
125  126ChristopherC MorelMorel2B126‌‌‌   TB  152  535   56  105  11   3  21
126         127ZackZ GelofGelof2B127‌‌‌  OAK  138  497   60  105  20   2  17
127      128OrlandoO ArciaArciaSS128‌‌‌  ATL  157  551   50  120  24   0  17
128     129MaikelM GarciaGarcia3B129‌‌‌   KC  157  575   84  133  27   5   7

     RBI  ...  CS    AVG    OBP    SLG    OPS  Rank  \
0    144  ...   0  0.322  0.458  0.701  1.159     1
1    130  ...   4  0.310  0.390  0.646  1.036     2
2    109  ...   4  0.288  0.419  0.569  0.988     3
3    109  ...  12  0.332  0.389  0.588  0.977     4
4     86  ...   0  0.308  0.392  0.567  0.959     5
..   ...  ...  ..    ...    ...    ...    ...   ...
124   63  ...   5  0.252  0.298  0.340  0.638   125
125   60  ...   7  0.196  0.288  0.346  0.634   126
126   49  ...   3  0.211  0.270  0.362  0.632   127
127   46  ...   0  0.218  0.271  0.354  0.625   128
128   58  ...   2  0.231  0.281  0.332  0.613   129

                 Player_front_number        Player_back_number Rank2  \
0            AaronA JudgeJudgeCF1‌‌‌       AaronA JudgeJudgeCF   NaN
1         ShoheiS OhtaniOhtaniDH2‌‌‌    ShoheiS OhtaniOhtaniDH   NaN
2               JuanJ SotoSotoRF3‌‌‌          JuanJ SotoSotoRF   NaN
3          BobbyB Witt Jr.WittSS4‌‌‌            BobbyB Witt Jr   NaN
4       YordanY AlvarezAlvarezDH5‌‌‌  YordanY AlvarezAlvarezDH   NaN
..                               ...                       ...   ...
124   AndrésA GimenezGiménez2B125‌‌‌                      Andr   NaN
125  ChristopherC MorelMorel2B126‌‌‌   ChristopherC MorelMorel   NaN
126         ZackZ GelofGelof2B127‌‌‌          ZackZ GelofGelof   NaN
127      OrlandoO ArciaArciaSS128‌‌‌     OrlandoO ArciaArciaSS   NaN
128     MaikelM GarciaGarcia3B129‌‌‌      MaikelM GarciaGarcia   NaN

             Player_position
0          AaronA JudgeJudge
1       ShoheiS OhtaniOhtani
2             JuanJ SotoSoto
3             BobbyB Witt Jr
4     YordanY AlvarezAlvarez
..                       ...
124                     Andr
125  ChristopherC MorelMorel
126         ZackZ GelofGelof
127      OrlandoO ArciaArcia
128     MaikelM GarciaGarcia

[129 rows x 23 columns]

In [11]:
# adding a space before the second uppercase letter
def add_space_before_second_uppercase(name):
    
    # finding the positions of all uppercase letters in the string
    uppercase_positions = [i for i, char in enumerate(name) if char.isupper()]
    
    # checking if there are at least two uppercase letters
    if len(uppercase_positions) >= 2:
        
        # inserting a space before the second uppercase letter
        second_uppercase_pos = uppercase_positions[1]
        return name[:second_uppercase_pos] + ' ' + name[second_uppercase_pos:]
    
    return name

# applying the function to the 'Player_position' column
df['Player'] = df['Player_position'].apply(add_space_before_second_uppercase)

print(df)

                            Player_Name Team    G   AB    R    H  2B  3B  HR  \
0              1AaronA JudgeJudgeCF1‌‌‌  NYY  158  559  122  180  36   1  58
1           2ShoheiS OhtaniOhtaniDH2‌‌‌  LAD  159  636  134  197  38   7  54
2                 3JuanJ SotoSotoRF3‌‌‌  NYY  157  576  128  166  31   4  41
3            4BobbyB Witt Jr.WittSS4‌‌‌   KC  161  636  125  211  45  11  32
4         5YordanY AlvarezAlvarezDH5‌‌‌  HOU  147  552   88  170  34   2  35
..                                  ...  ...  ...  ...  ...  ...  ..  ..  ..
124   125AndrésA GimenezGiménez2B125‌‌‌  CLE  152  583   64  147  22   1   9
125  126ChristopherC MorelMorel2B126‌‌‌   TB  152  535   56  105  11   3  21
126         127ZackZ GelofGelof2B127‌‌‌  OAK  138  497   60  105  20   2  17
127      128OrlandoO ArciaArciaSS128‌‌‌  ATL  157  551   50  120  24   0  17
128     129MaikelM GarciaGarcia3B129‌‌‌   KC  157  575   84  133  27   5   7

     RBI  ...    AVG    OBP    SLG    OPS  Rank  \
0    144  ...  0.322  0.458  0.701  1.159     1
1    130  ...  0.310  0.390  0.646  1.036     2
2    109  ...  0.288  0.419  0.569  0.988     3
3    109  ...  0.332  0.389  0.588  0.977     4
4     86  ...  0.308  0.392  0.567  0.959     5
..   ...  ...    ...    ...    ...    ...   ...
124   63  ...  0.252  0.298  0.340  0.638   125
125   60  ...  0.196  0.288  0.346  0.634   126
126   49  ...  0.211  0.270  0.362  0.632   127
127   46  ...  0.218  0.271  0.354  0.625   128
128   58  ...  0.231  0.281  0.332  0.613   129

                 Player_front_number        Player_back_number  Rank2  \
0            AaronA JudgeJudgeCF1‌‌‌       AaronA JudgeJudgeCF    NaN
1         ShoheiS OhtaniOhtaniDH2‌‌‌    ShoheiS OhtaniOhtaniDH    NaN
2               JuanJ SotoSotoRF3‌‌‌          JuanJ SotoSotoRF    NaN
3          BobbyB Witt Jr.WittSS4‌‌‌            BobbyB Witt Jr    NaN
4       YordanY AlvarezAlvarezDH5‌‌‌  YordanY AlvarezAlvarezDH    NaN
..                               ...                       ...    ...
124   AndrésA GimenezGiménez2B125‌‌‌                      Andr    NaN
125  ChristopherC MorelMorel2B126‌‌‌   ChristopherC MorelMorel    NaN
126         ZackZ GelofGelof2B127‌‌‌          ZackZ GelofGelof    NaN
127      OrlandoO ArciaArciaSS128‌‌‌     OrlandoO ArciaArciaSS    NaN
128     MaikelM GarciaGarcia3B129‌‌‌      MaikelM GarciaGarcia    NaN

             Player_position                    Player
0          AaronA JudgeJudge        Aaron A JudgeJudge
1       ShoheiS OhtaniOhtani     Shohei S OhtaniOhtani
2             JuanJ SotoSoto           Juan J SotoSoto
3             BobbyB Witt Jr           Bobby B Witt Jr
4     YordanY AlvarezAlvarez   Yordan Y AlvarezAlvarez
..                       ...                       ...
124                     Andr                      Andr
125  ChristopherC MorelMorel  Christopher C MorelMorel
126         ZackZ GelofGelof         Zack Z GelofGelof
127      OrlandoO ArciaArcia      Orlando O ArciaArcia
128     MaikelM GarciaGarcia     Maikel M GarciaGarcia

[129 rows x 24 columns]

In [12]:
# removing duplicate last names
def remove_duplicate_last_name(name):
    
    # finding a duplicate last name at the end of the string
    return re.sub(r'\b(\w+)\1\b$', r'\1', name)

# applying the function to the 'Player' column
df['Player'] = df['Player'].apply(remove_duplicate_last_name)

print(df)

                            Player_Name Team    G   AB    R    H  2B  3B  HR  \
0              1AaronA JudgeJudgeCF1‌‌‌  NYY  158  559  122  180  36   1  58
1           2ShoheiS OhtaniOhtaniDH2‌‌‌  LAD  159  636  134  197  38   7  54
2                 3JuanJ SotoSotoRF3‌‌‌  NYY  157  576  128  166  31   4  41
3            4BobbyB Witt Jr.WittSS4‌‌‌   KC  161  636  125  211  45  11  32
4         5YordanY AlvarezAlvarezDH5‌‌‌  HOU  147  552   88  170  34   2  35
..                                  ...  ...  ...  ...  ...  ...  ..  ..  ..
124   125AndrésA GimenezGiménez2B125‌‌‌  CLE  152  583   64  147  22   1   9
125  126ChristopherC MorelMorel2B126‌‌‌   TB  152  535   56  105  11   3  21
126         127ZackZ GelofGelof2B127‌‌‌  OAK  138  497   60  105  20   2  17
127      128OrlandoO ArciaArciaSS128‌‌‌  ATL  157  551   50  120  24   0  17
128     129MaikelM GarciaGarcia3B129‌‌‌   KC  157  575   84  133  27   5   7

     RBI  ...    AVG    OBP    SLG    OPS  Rank  \
0    144  ...  0.322  0.458  0.701  1.159     1
1    130  ...  0.310  0.390  0.646  1.036     2
2    109  ...  0.288  0.419  0.569  0.988     3
3    109  ...  0.332  0.389  0.588  0.977     4
4     86  ...  0.308  0.392  0.567  0.959     5
..   ...  ...    ...    ...    ...    ...   ...
124   63  ...  0.252  0.298  0.340  0.638   125
125   60  ...  0.196  0.288  0.346  0.634   126
126   49  ...  0.211  0.270  0.362  0.632   127
127   46  ...  0.218  0.271  0.354  0.625   128
128   58  ...  0.231  0.281  0.332  0.613   129

                 Player_front_number        Player_back_number  Rank2  \
0            AaronA JudgeJudgeCF1‌‌‌       AaronA JudgeJudgeCF    NaN
1         ShoheiS OhtaniOhtaniDH2‌‌‌    ShoheiS OhtaniOhtaniDH    NaN
2               JuanJ SotoSotoRF3‌‌‌          JuanJ SotoSotoRF    NaN
3          BobbyB Witt Jr.WittSS4‌‌‌            BobbyB Witt Jr    NaN
4       YordanY AlvarezAlvarezDH5‌‌‌  YordanY AlvarezAlvarezDH    NaN
..                               ...                       ...    ...
124   AndrésA GimenezGiménez2B125‌‌‌                      Andr    NaN
125  ChristopherC MorelMorel2B126‌‌‌   ChristopherC MorelMorel    NaN
126         ZackZ GelofGelof2B127‌‌‌          ZackZ GelofGelof    NaN
127      OrlandoO ArciaArciaSS128‌‌‌     OrlandoO ArciaArciaSS    NaN
128     MaikelM GarciaGarcia3B129‌‌‌      MaikelM GarciaGarcia    NaN

             Player_position               Player
0          AaronA JudgeJudge        Aaron A Judge
1       ShoheiS OhtaniOhtani      Shohei S Ohtani
2             JuanJ SotoSoto          Juan J Soto
3             BobbyB Witt Jr      Bobby B Witt Jr
4     YordanY AlvarezAlvarez     Yordan Y Alvarez
..                       ...                  ...
124                     Andr                 Andr
125  ChristopherC MorelMorel  Christopher C Morel
126         ZackZ GelofGelof         Zack Z Gelof
127      OrlandoO ArciaArcia      Orlando O Arcia
128     MaikelM GarciaGarcia      Maikel M Garcia

[129 rows x 24 columns]

In [13]:
# dropping the numerical values column
df.drop(['Player_Name', 'Rank2', 'Player_front_number', 'Player_back_number', 'Player_position'],
         axis = 1,
         inplace = True)

In [14]:
# re-ordering columns
df = df[['Rank', 'Player'] + [col for col in df.columns if col not in ['Rank', 'Player']]]

In [15]:
df.head()

,Rank,Player,Team,G,AB,R,H,2B,3B,HR,RBI,BB,SO,SB,CS,AVG,OBP,SLG,OPS
0,1,Aaron A Judge,NYY,158,559,122,180,36,1,58,144,133,171,10,0,0.322,0.458,0.701,1.159
1,2,Shohei S Ohtani,LAD,159,636,134,197,38,7,54,130,81,162,59,4,0.310,0.390,0.646,1.036
2,3,Juan J Soto,NYY,157,576,128,166,31,4,41,109,129,119,7,4,0.288,0.419,0.569,0.988
3,4,Bobby B Witt Jr,KC,161,636,125,211,45,11,32,109,57,106,31,12,0.332,0.389,0.588,0.977
4,5,Yordan Y Alvarez,HOU,147,552,88,170,34,2,35,86,69,95,6,0,0.308,0.392,0.567,0.959

In [16]:
df.dtypes

Rank       object
Player     object
Team       object
G           int64
AB          int64
R           int64
H           int64
2B          int64
3B          int64
HR          int64
RBI         int64
BB          int64
SO          int64
SB          int64
CS          int64
AVG       float64
OBP       float64
SLG       float64
OPS       float64
dtype: object

In [17]:
df.isnull().any()

Rank      False
Player    False
Team      False
G         False
AB        False
R         False
H         False
2B        False
3B        False
HR        False
RBI       False
BB        False
SO        False
SB        False
CS        False
AVG       False
OBP       False
SLG       False
OPS       False
dtype: bool